In [1]:
import pandas as pd
import matplotlib.pyplot as plt

C:\Users\triplem\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [2]:
df_c = pd.read_csv('datasets/country.csv')
df_m = pd.read_csv('datasets/manufacturer.csv')

In [7]:
df_m.groupby('vaccine').count()

                    location  date  total_vaccinations
vaccine
Johnson&Johnson           44    44                  44
Moderna                  780   780                 780
Oxford/AstraZeneca       624   624                 624
Pfizer/BioNTech          980   980                 980
Sinovac                   77    77                  77

In [6]:
df_m.head()

  location        date          vaccine  total_vaccinations
0    Chile  2020-12-24  Pfizer/BioNTech                 420
1    Chile  2020-12-25  Pfizer/BioNTech                5198
2    Chile  2020-12-26  Pfizer/BioNTech                8338
3    Chile  2020-12-27  Pfizer/BioNTech                8649
4    Chile  2020-12-28  Pfizer/BioNTech                8649